body{
    height:100%;
    width: 100%;
    background-image: url("../images/background.jpg");
}

.start-button{
    font-size:50px;
}

.btn{
    height:100px;
}

.timer{
    font-size: 45px;
    font-weight:bold;
}
.answer{
    color: #F1060B;
    text-shadow: 2px 2px #00356B;
    font-size:50px;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    opacity: .5;
    text-align: center;
    
}

.text-center{
    font-size: 35px;
}

.question{
    font-weight: bold;
}

.correctAnswer{
    font-size: 30px;
    font-weight:bold;
}

.wrongAnswer{
    font-size: 30px;
    font-weight:bold;
}

.results{
    font-size:40px;
    font-weight:bold;
}

/*hover effect for answers */
  .answer:hover {
    background: rgba(250, 240, 99, 0.99);
  }

  /*Styling for P tags */
  p {
    font-size: 20px;
    font-weight: 400;
  }
  
  /*Styling for jumbotron */
  .jumbotron{
      background-color: #F1060B
  }

  .jumbotron p{
      color:white;
  }
 